body {
    background-color: #f9f9f9;
}

#bemVindo {
    font-size: 18px;
    font-weight: bold;
}

button:disabled {
    background-color: #cccccc; /* Cor cinza para botões desabilitados */
    cursor: not-allowed; /* Cursor indicando que o botão está desabilitado */
}


h1, h2 {
    font-weight: 700;
}

header {
    background-color: #b30000;
    padding: 20px;
    margin-bottom: 5px;
}

header,p{
    margin-bottom: -15px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#meuTreino, #treinosRegistrados {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #b30000;
    color: white;
    transform: scale(1.05);
}

.invalid-feedback {
    display: none;
}

.was-validated .form-control:invalid ~ .invalid-feedback {
    display: block;
}
